body {
	background-image: url("./assets/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

}

.container {
	background-color: rgba(109, 117, 120, 0.8);
	margin-left: 4%;
	width: 55%;
	height: 800px;
	border-radius: 20px;
}

.main-head {
	/* color: rgb(23, 38, 72); */
	/* color: rgb(226, 222, 222); */
	color: black;
	text-align: center;
	font-family: "Sofia", "Verdana", sans-serif;
	font-size: 60px;
	font-weight: 800px;
	margin-bottom: 5px;
	padding-top: 50px;
}


hr {
	border: none;
	background-color: black;
	width: 95%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: left;
	width: 50%;
	margin-left: 10%;
}

.sub-head {
	/* color: rgb(23, 38, 72); */
	/* color: rgb(226, 222, 222); */
	color: black;
	text-align: left;
	font-family: "Sofia", "Verdana", sans-serif;
	font-size: 40px;
}


/* Recipe list links styling */

.list {
	text-align: left;
	font-size: 20px;
	margin: 5px;
	color: rgb(8, 3, 54);
}

.recipe-link:link,
.recipe-link:visited {
	text-decoration: none;
	font-size: 30px;
	margin-bottom: 50px;
	color: rgb(12, 16, 29);
	padding: 30px 30px;
	border-width: 4px;
}